@model Person
@{ ViewData["Title"] = "Details"; }

<br />
<h3>Person details</h3>
<br />

<div class="row">
    <div class="col-12">

        <div class="row">
            <div class="col-2">
                <h5>First Name</h5>
            </div>

            <div class="col-2">
                <h5>Last Name</h5>
            </div>

            <div class="col-2">
                <h5> City</h5>
            </div>

            <div class="col-2">
                <h5> Country</h5>
            </div>

            <div class="col-2">
                <h5>Mobile nr.</h5>
            </div>
        </div>

        <hr />

    </div>
</div>


@if (Model != null)
{
<div class="row">
    <div class="col-2">
        <p>@Model.FirstName</p>
    </div>

    <div class="col-2">
        <p>@Model.LastName</p>
    </div>

    <div class="col-2">
        <p>@Model.CurrentCity.Name</p>
    </div>

    <div class="col-2">
        <p>@Model.State.Name</p>
    </div>

    <div class="col-2">
        <p>@Model.CellphoneNumber</p>
    </div>
</div>}


<br />
<br />
<br />
<br />


<div class="row">
    <div class="col-3">
        <h4>Spoken languages</h4>
    </div>
    <div class="col-3">
        <a asp-action="ManagePersonLanguages" asp-route-id="@Model.Id">|Manage languages|</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <ul>
            @foreach (var language in Model.PersonLanguages)
            {
<li>
    @language.Language.Name;
</li>
       }
        </ul>
    </div>
</div>


<br />
<br />
<br />


<a asp-action="Index" asp-controller="People">|Back to people list|</a>